body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(43, 196, 181);
    background-image: url(image/rain.jpg);
}
h1{
    color: rgb(70, 199, 199);
}
form{
    background-color: rgb(176, 29, 29);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
  box-shadow: 5px 5px 15px black;
  margin-top: 200px;
  border-radius: 20px;
  background-image: url(image/rain2.jpg);
}
#textBox{
    width: 50%;
    font-size: 2em;
    border: 2px ridge black;
    border-radius: 10px;
    text-align: center;
}
label{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(34, 212, 212);
}
button{
    margin-top: 15px;
    background-color: lightcoral;
    color: whitesmoke;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;

}
button:hover{
    background-color: red;
}
#result{
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(65, 223, 247);
}
